 <!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../layout/head') %>
</head>

<body>

    <header>
        <%- include('../../layout/header') %>
      </header>
    <div>
        <div class="book">
        <% books.forEach(book =>{ %>
        <img src="<%= book.image_url %>" alt="image">
        <h3><%= book.title %></h3>
        <h4><%=  book.authors %></h4>
        <p><%=  book.isbn %></p>
        <p><%= book.description %></p>
        <button id='first-id'> Select this Book </button>

       
       
        <section id="select-book">
            <form id="<%=book.id%>" action="/books" method="POST" >
              
                <input name="title" type="text" value="<%= book.title %>">
                <br>
                <input name="authors" type="text" value="<%= book.authors %>">
                <br>
                <input name="image_url" type="text" value=" <%= book.image_url %>">
                <br>
                <textarea name="description" type="text" value="<%= book.description %>"></textarea>
                <br>
                <input type="text" name="shelf" placeholder="Enter a Bookshelf Name" required>
                <br>
                <button type="submit">Add Book</button>
              </form>
            </section>
         
        <% }) %>
       
      
      
<footer>  <%- include('../../layout/footer') %></footer>   

 
    <%- include('../../layout/js-links') %>
</body>

</html> 